<div class="w-full  text-white fixed top-0 z-50 px-4  bg-black">

    <div class="  max-w-6xl mx-auto flex h-16 w-full items-center items-center justify-between bg-black">
        <div class="relative flex w-full content-center items-center gap-8">
            <!-- <svg class="h-4 w-4 my-auto fill-white " viewBox="0 0 1200 1227" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" />
            </svg> -->

            <svg class="fill-white my-auto h-4 w-4" viewBox="0 0 24 24" {...props}>
                <path
                    d="M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z"
                    fill="currentColor" />
            </svg>
            <nav class="text-[13px]  select-none flex my-auto  gap-4  ">
                <a class="" href="{{ url_for('home') }}">
                    <span
                        class="text-[13px] font-light transition-colors duration-300 hover:text-primary/50 text-primary">
                        Home
                    </span>
                </a>
                <a class="" href="{{ url_for('login') }}">
                    <span
                        class="text-[13px] font-light transition-colors duration-300 hover:text-primary/50 text-primary/70">
                        Login
                    </span>
                </a>
                <a class="" href="{{ url_for('recommend') }}">
                    <span
                        class="text-[13px] font-light transition-colors duration-300 hover:text-primary/50 text-primary/70">
                        Recommend
                    </span>
                </a>
            </nav>
        </div>
        <div class=" flex flex-row items-center border border-transparent bg-black">
            <button type="button" class="grid size-8 place-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 fill-white">
                    <path
                        d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
                    </path>
                </svg>
            </button>

        </div>
    </div>
</div>