<!doctype html>
<html>

<head>

    {% if title %}
    <title>{{ title }} - MEEP</title>
    {% else %}
    <title>Welcome to MEEP</title>
    {% endif %}
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="overscroll-contain  text-white w-full">
    {% include "blocks/header.html" %}


    {% if (url_for(request.endpoint) !="/home") %}

    <!-- <div class="text-4xl w-full  pt-16 text-white ">
        <a class="text-white" href="/index">Home</a>
    </div> -->
    <div class="mt-16">

    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endif %}


    <div class="overscroll-contain w-full ">

        {% block content %}
        {% endblock %}
    </div>

</body>

</html>